# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.png
*.fig
Reports/Winter_Report.aux
*.log
*.mat
*.asv
*.pdf
*.asv
Supersonic Flow/equations/cartEulerCaseRun.m
*.bib
*.tex
*.tex
*.gz
*.gz
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.aux
Supersonic Flow/Report/diamond_cases/reProcess.m
Supersonic Flow/Report/diamond_cases/bcCalc.m
Supersonic Flow/Report/cylinder_cases/gen_plots.m
Supersonic Flow/Report/diamond_cases/gen_plots.m
Supersonic Flow/equations/continuityIntegMomentum/cylinderOffGrid/cylinder/M_1.4/reProcess.m
Supersonic Flow/equations/continuityIntegMomentum/cylinderOffGrid/cylinder/M_1.1/reProcess.m
Supersonic Flow/equations/continuityIntegMomentum/cylinderOffGrid/cylinder/M_1.4/bcCalc.m
Supersonic Flow/equations/continuityIntegMomentum/cylinderOffGrid/cylinder/M_1.1/bcCalc.m
Supersonic Flow/equations/continuityIntegMomentum/cartCaseRun.m
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.aux
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.aux
*.bbl
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/abstract_draft.blg
*.tex
*.aux
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.aux
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.aux
*.gz
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.synctex.gz
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.aux
*.tex
Supersonic Flow/Report/abstract/AbstractTemplateICCFD10Tex/AbstractTemplateICCFD10.tex
Supersonic Flow/equations/continuityIntegMomentum/scheme_prototyping/tsf_euler_cyl.m
Supersonic Flow/equations/continuityIntegMomentum/scheme_prototyping/tsf_euler.m
Supersonic Flow/equations/continuityIntegMomentum/scheme_prototyping/euler_test_tt.m
Supersonic Flow/equations/continuityIntegMomentum/scheme_prototyping/euler_test.m
Supersonic Flow/equations/continuityIntegMomentum/scheme_prototyping/cartCaseRun.m
Supersonic Flow/equations/continuityIntegMomentum/scheme_prototyping/euler_polar.m
Supersonic Flow/equations/continuityIntegMomentum/scheme_prototyping/euler_test_tavg.m
